{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <section class="bg-light p-3">
        <h1>Votre panier</h1>
        <a href="{{ path('home') }}" class="btn btn-info"><small>Continuer vos achats</small></a>
    </section>
    <table class="table">
        <thead>
        <tr>
            <th>Pièce</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
            {% for element in dataPanier %}
                <tr>
                    <td>{{ element.piece.pceName }}</td>
                    <td class="text-ent">{{ element.piece.pcePrice }} €</td>
                    <td>{{ element.quantite }}</td>
                    <td class="text-end">{{ element.quantite * element.piece.pcePrice }} €</td>
                    <td>
                        <a href="{{ path('cart_add', {'id': element.piece.id}) }}" class="btn btn-success">+</a>
                        <a href="{{ path('cart_remove', {'id': element.piece.id}) }}" class="btn btn-warning">-</a>
                        <a href="{{ path('cart_delete', {'id': element.piece.id}) }}" class="btn btn-danger">Supprimer</a>

                    </td>
                    
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td class="text-end">{{ total }} €</td>
            <td><a href="{{ path('app_orders_add') }}" class="btn btn-primary">Commander</a></td>
        </tr>
        </tfoot>
    </table>

{% endblock %}
