{% extends 'base.html.twig' %}

{% block title %}Bonjour Du Cuir à l'Ouvrage !{% endblock %}
{% block metadesc %}Tableau de bord du Cuir à l'Ouvrage{% endblock %}

 {% block body %}
     <h1 class="mt-5">Tableau de bord</h1>

     <div class="container ">
         <div class="mb-5">
             <table class="table">
                 <thead>
                 <tr>
                     <th class="my-5 text-center fs-1" colspan="8">Liste des pièces </th>

                 </tr>
                 <th>ID</th>
                 <th>Nom</th>
                 <th>Couleur</th>
                 <th>Prix</th>
                 <th>Catégorie</th>
                 <th>Photo</th>
                 <th colspan="2">Actions</th>
                 </thead>
                 <tbody>
                 {% for piece in piecesBdd %}
                     <tr>
                         <td>{{ piece.id }}</td>
                         <td>{{ piece.pceName }}</td>
                         <td>{{ piece.pceColor }}</td>
                         <td>{{ piece.pcePrice }} € </td>
                         <td>{{ piece.pceCategory.catNaming }}</td>
                         <td>{% for image in piece.images %}
                                 <img src="{{ asset('img/' ~ image.name) }}" class="w-25" alt="{{ piece.pceName }}">
                             {% endfor %}</td>
                         <td><small><a href="{{ path('admin_update', {"slug": piece.slug}) }}"><i class="fa-solid fa-pen"></i></a></small><br><small><a href="{{ path('admin_delete', {"slug": piece.slug }) }}"><i class="fa-solid fa-trash-can"></i></a></small></td>
                     </tr>

                 {% endfor %}
                 </tbody>
             </table>
            <a class="btn btn-primary" href="{{ path('admin_new') }}"><i class="fa-solid fa-cart-plus"></i>Enregistrer une nouvelle pièce</a>
         </div>

         <div class="mb-5">
             <table class="table">
                 <thead>
                 <tr>
                     <th class="my-5 text-center fs-1" colspan="8">Liste des catégories </th>
                 </tr>
                 <th>Dénomination</th>
                 <th>Description</th>
                 <th colspan="2">Actions</th>
                 </thead>
                 <tbody>
                 {% for category in categoriesBdd %}
                     <tr>
                         <td>{{ category.catNaming }}</td>
                         <td>{{ category.catDescribe }}</td>
                         <td><small><a href="{{ path('admin_category_update', {"id": category.id}) }}"><i class="fa-solid fa-pen"></i></a></small><br><small><a href="{{ path('admin_category_delete', {"id": category.id}) }}"><i class="fa-solid fa-trash-can"></i></a></small></td>
                     </tr>

                 {% endfor %}
                 </tbody>
             </table>
             <a class="btn btn-primary" href="{{ path('admin_category_new') }}"><i class="fa-solid fa-cart-plus"></i>Enregistrer une nouvelle catégorie</a>
         </div>


         <div class="mb-5">
             <table class="table">
                 <thead>
                 <tr>
                     <th class="my-5 text-center fs-1" colspan="8">Liste des formations</th>
                 </tr>

                 <th>ID</th>
                 <th>Titre de la formation</th>
                 <th>Thème</th>
                 <th>Date</th>
                 <th>Lieu</th>
                 <th>Nombre de place</th>
                 <th colspan="2">Actions</th>
                 </thead>
                 <tbody>
                 {% for training in trainingsBdd %}
                     <tr>
                         <td>{{ training.id }}</td>
                         <td>{{ training.trainTitled }}</td>
                         <td>{{ training.trainTopic }}</td>
                         <td>{{ training.trainDate|date("d-m-Y") }} </td>
                         <td>{{ training.trainSeat}}</td>
                         <td>{{ training.trainPlace }}</td>
                         <td><small><a href="{{ path('admin_training_update', {"slug": training.slug}) }}"><i class="fa-solid fa-pen"></i></a></small><br><small><a href="{{ path('admin_training_delete', {"slug": training.slug }) }}"><i class="fa-solid fa-trash-can"></i></a></small></td>
                     </tr>
                 {% endfor %}
                 </tbody>
             </table>
             <a class="btn btn-primary" href="{{ path('admin_training_new') }}"><i class="fa-solid fa-cart-plus"></i>Enregistrer une nouvelle formation</a>
         </div>
     </div>
 {% endblock %}
